html {
  font-family: "Times New Roman", serif, sans-serif; 
}
body {
  /* background-image: url(zebra.jpg); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  /* dùng alt để chọn từng hàng mà click */
  background-color: #444;
  text-align: center;
}

h1{
  color: #ffffff;
  line-height: 2rem;
  font-family: 'Baloo', serif, sans-serif;
}

h2{
  color: #ffffff;
  line-height: 2rem;
  font-family: 'Gotu', serif, sans-serif;
}

h3{
  color: #ffffff;
  line-height: 2rem;
  font-family: 'Sen', serif, sans-serif;
}

.formatting {
  font-size: 25px;
  line-height: 2em;
  color: white;
}
a {
  text-decoration: none;
  font-size: 20px;
  color: yellow;
  letter-spacing: 10px;
  word-spacing: 30px;
  text-transform: uppercase;
}
.borderImg {
  border: 10px dashed red;
}

ul li {
  color: white;
  font-size: 20px;

}
ul > li {
  color: yellow;
}

/* công thức tính selectors nào sẽ được lựa chọn */
/* cacl  */
/* style attribute | ID | class, psuedo-class, attribute | Elements */
/*    0            | 0  |                  0             |    0     | */
/* Most specificity value    ----------->      least specificity value */
/* !important; */
